[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
click = "*"
piggy-cli = {editable = true, path = "."}
boto3 = "*"
paramiko = "*"
scp = "*"
base58 = "*"
ecdsa = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.9"
